div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Source Code Pro', monospace !important;
  font-size: 11px;
}

div.text_cell {
  font-family: "Helvetica", sans-serif;
}

table.dataframe {
  font-family: 'Helvetica', sans-serif;
}
